<div class="page">
  <div class="header">
    <h1 class="header-content title header-text-size-box"><%= link_to 'Wikinimous',articles_path %></h1>
    <i class="fa fa-book header-content"></i>
    <p class="header-content header-text-size-box"><%= link_to 'New article',new_article_path%></p>
  </div>

  <div class="page-content">
    <ul id="article-list">
    <% @articles.each do |article| %>
      <li class="li-article">
        <%= link_to article_path(article.id), class: "article" do %>
          <h2 class="article-title"><%= article.title %></h2>
          <p class="article-content"><%= article.content %></p>
        <% end %>
      </li>
    <% end %>
    </ul>
  </div>
</div>
